# 백준 인증 쿠키
BOJ_COOKIE_ONLINEJUDGE=
BOJ_COOKIE_AUTOLOGIN=

# 데이터베이스
DB_NAME=
DB_USER=
DB_PASS=

# 백엔드 API 서버 주소
BACKEND_URL=

# LLM API 키
GEMINI_API_KEY=
SOLAR_API_KEY=

# GCP 및 GCS 정보
GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET=
GCS_PREFIX=
LOCAL_INDEX_DIR=