# 🔄 스위칭
USE_VLLM=false

# 🔐 백준 인증 쿠키
BOJ_COOKIE_ONLINEJUDGE=
BOJ_COOKIE_AUTOLOGIN=

# 🔐 데이터베이스 설정
DB_NAME=
DB_USER=
DB_PASS=

# 🔐 백엔드 API 서버 주소
BACKEND_URL=

# 🔐 Upstage API 키 (최대 20개까지 사용 가능)
UPSTAGE_KEY_1=
UPSTAGE_KEY_2=
UPSTAGE_KEY_3=
UPSTAGE_KEY_4=
UPSTAGE_KEY_5=
UPSTAGE_KEY_6=
UPSTAGE_KEY_7=
UPSTAGE_KEY_8=
UPSTAGE_KEY_9=
UPSTAGE_KEY_10=

# 🔐 Gemini API 키
GEMINI_API_KEY=

# 🔐 GCP 및 GCS 정보
GOOGLE_APPLICATION_CREDENTIALS=
GCS_BUCKET=
GCS_PREFIX=
USE_GCS_FOR_FAISS=